@import "./node_modules/reset-css/_reset";

body {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 300;
  color: #1f1f1f;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  li {
    background-color: #efefef;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: solid rgba(0,0,0,.1) 1px;
    &:last-child {
      border-bottom: none;
    }
    transition: all .25s;
    &:hover {
      transform: scale(1.03);
    }
  }
}

input {
  &:focus {
    outline: none;
  }
  padding: 6px 20px;
  font-size: 16px;
  border: 1px solid #1f1f1f;
}
