<input class="input-search" (keyup)="onKeyUp($event)">
<ul class="search-results" *ngIf="apiResult.length">
  <li *ngFor="let result of apiResult">{{result.artistName}} - {{result.collectionName}} - {{result.trackName}}</li>
</ul>
<p class="no-results" *ngIf="!apiResult.length">No Results</p>
